@charset "utf-8";

@import "_base/variables";
@import "_base/mixins";

/* -----------------------------------------------------
 * Base
 * -------------------------------------------------- */
body {
	display: flex;
	flex-direction: column;
	@include media-sp {
		&.is-menu-open {
			overflow: hidden;
		}
	}
	&.is-modal-open {
		overflow: hidden;
	}
}

figure {
	margin: calcvw(40) 0;
	text-align: center;
	@include media-pc {
		margin: 40px 0;
	}
	img {
		max-width: 100%;
		width: auto;
		max-height: 100%;
		height: auto;
	}
	h1 + & {
		img {
			max-height: calcvw(600);
			@include media-pc {
				max-height: 400px;
			}
		}
	}
}

iframe {
	margin: calcvw(40) 0;
	border: none;
	@include media-pc {
		margin: 40px 0;
	}
}

em {
	font-style: normal;
	font-weight: bold;
}
