@charset "utf-8";

@import "_base/variables";
@import "_base/mixins";

/* -----------------------------------------------------
 * Base
 * -------------------------------------------------- */
body {
	display: flex;
	flex-direction: column;
	&.is-menu-open,
	&.is-modal-open {
		overflow: hidden;
	}
	@include media-pc {
		min-width: 1200px;
		&.is-menu-open {
			overflow: visible;
		}
	}
}
