@charset "utf-8";

@import "_base/variables";
@import "_base/mixins";

/* -----------------------------------------------------
 * Base
 * -------------------------------------------------- */
body {
	display: flex;
	flex-direction: column;
	@include media-sp {
		&.is-menu-open {
			overflow: hidden;
		}
	}
	&.is-modal-open {
		overflow: hidden;
	}
}

figure {
	text-align: center;
	img {
		max-width: 100%;
		max-height: 100%;
	}
}

em {
	font-style: normal;
	font-weight: bold;
}
