{% extends "_layout/_layout_default.njk" %}

{% block content_main %}
<div class="l-main-inner">
<div class="l-section">
<h1 class="mod-heading2">該当のページはありません。</h1>
</div><!-- /.l-section -->
</div><!-- /.l-main-inner -->
{% endblock %}
