{% extends "_layout/_layout_default.njk" %}

{% block content_main %}
<div id="about" class="l-main-inner">
<section class="l-section">
<h2 class="mod-heading2">タスク管理はgulpを使用</h2>
<div class="l-column">
<div class="l-column-inner wide-1">
<figure class="home-image-gulp">
<img src="{{ dataProject.wp_path }}img/home/logo_gulp.png" alt="gulp">
</figure>
</div><!-- /.l-column-inner -->
<div class="l-column-inner wide-3">
<ul class="mod-ul">
<li>開発環境作をシンプルに作成できる</li>
<li>プラグインが豊富</li>
<li>自由度が高い</li>
</ul>
<p class="mod-p">といった利点により、gulpを使用しています。今でも使い勝手としては一番良いものだと感じています。</p>
</div><!-- /.l-column-inner -->
</div><!-- /.l-column -->
</section><!-- /.l-section -->

<section class="l-section">
<h2 class="mod-heading2">HTMLのプリプロセッサはNunjucksを使用</h2>
<div class="l-column alternate">
<div class="l-column-inner wide-1">
<figure>
<img src="{{ dataProject.wp_path }}img/home/logo_njk.png" alt="Nunjucks">
</figure>
</div><!-- /.l-column-inner -->
<div class="l-column-inner wide-3">
<p class="mod-p">HTMLと同じ書式で利用できる点により、Nunjucksを採用しています。</p>
<p class="mod-p">個人的には、シンプルに、また閉じタグ忘れ等のイージーミスをなくすためにpugを使いたいところですが、複数人で行うプロジェクトなどに携わる場合は、担当者が抵抗感なく作業してもらうためにNunjucksによるコーディングをメインとして進めてまいりました。</p>
</div><!-- /.l-column-inner -->
</div><!-- /.l-column -->
</section><!-- /.l-section -->

<section class="l-section">
<h2 class="mod-heading2">CSSのプリプロセッサはSass（Scss）を使用</h2>
<div class="l-column">
<div class="l-column-inner wide-1">
<figure class="home-image-sass">
<img src="{{ dataProject.wp_path }}img/home/logo_sass.png" alt="Sass">
</figure>
</div><!-- /.l-column-inner -->
<div class="l-column-inner wide-3">
<p class="mod-p">CSSのプリプロセッサには、定番のSass（Scss）を採用しています。</p>
<p class="mod-p">これも個人的には、記法がシンプルなSass記法を使いたいところですが、CSSの記法に準じたScssが主流ということもあり、泣く泣くScssで書いています。</p>
</div><!-- /.l-column-inner -->
</div><!-- /.l-column -->
</section><!-- /.l-section -->

<section class="l-section">
<h2 class="mod-heading2">jQueryはまだまだ現役</h2>
<div class="l-section-inner">
<p class="mod-p">「jQueryはもう使わない」</p>
<p class="mod-p">そんな風潮もありますが、基本JSではjQueryを使用しています。<br>
プロジェクトを１人で回す・・・なんてことは稀であり、複数人で携わることを考えた場合は前述にもありますが、できるだけコードの中身はシンプルに、そして記述ミスをなくすことが一番大事なことだと考えています（これは、作業スピードアップにも繋がります）。</p>
</div><!-- /.l-section-inner -->
</section><!-- /.l-section -->
</div><!-- /.l-main-inner -->

<div id="lineup" class="l-main-inner bg-01">
<div class="l-section">
<h2 class="mod-heading2">LINEUP</h2>

<section id="lineup-1" class="l-section-inner">
<h3 class="mod-heading3">eラーニング制作</h3>
<p class="mod-p">日本女子大学光学部の依頼により制作した光学教材を紹介。</p>
<div class="l-column col-2">
<div class="l-column-inner">
<figure>
<img src="{{ dataProject.wp_path }}img/home/product_01.png" alt="">
</figure>
</div><!-- /.l-column-inner -->
<div class="l-column-inner">
<ul class="mod-ul">
<li>制作年　：2008年</li>
<li>制作期間：2ヶ月</li>
<li>メンバー：1人</li>
<li>主担当　：全て</li>
</ul>
<p class="mod-p">FlashでActionScript2.0を使用し制作しました。</p>
<p class="mod-p">光学という、文系の自分とは全く異なる分野の教材ということもあり、制作期間中約２割は、大学に赴き、教授の教えを受け、また実験の様子を見学させていただきました。</p>
<p class="mod-p">大学生のみならず、小学生を集めた講義などでも利用されたようです。</p>
</div><!-- /.l-column-inner -->
</div><!-- /.l-column -->
</section><!-- /.l-section-inner -->

<section id="lineup-2" class="l-section-inner">
<h3 class="mod-heading3">パナソニック関連</h3>
<p class="mod-p">2011年の夏キャンペーン向けサイトを紹介。</p>
<div class="l-column col-2">
<div class="l-column-inner">
<figure>
<img src="{{ dataProject.wp_path }}img/home/product_02.png" alt="">
</figure>
</div><!-- /.l-column-inner -->
<div class="l-column-inner">
<ul class="mod-ul">
<li>制作年　：2011年</li>
<li>制作期間：1ヶ月</li>
<li>メンバー：3人</li>
<li>主担当　：設計・Flash制作・運営</li>
</ul>
<p class="mod-p">パナソニック関連会社に勤めているときに、親会社であるパナソニックモバイルコミュニケーションズ株式会社より依頼を受け制作し、キャンペーンの運用も約３ヶ月ほど行っていました。</p>
<p class="mod-p">FlashDevelopでActionScript3.0を使用し、キャンペーンサイト用のフレームワークを作成し、他多数のキャンペーンサイトを手掛けました。</p>
</div><!-- /.l-column-inner -->
</div><!-- /.l-column -->
</section><!-- /.l-section-inner -->

<section id="lineup-3" class="l-section-inner">
<h3 class="mod-heading3">個人制作</h3>
<p class="mod-p">知人が店長をしているレストランのサイトを制作。</p>
<div class="l-column col-2">
<div class="l-column-inner">
<figure>
<img src="{{ dataProject.wp_path }}img/home/product_03.png" alt="">
</figure>
</div><!-- /.l-column-inner -->
<div class="l-column-inner">
<ul class="mod-ul">
<li>制作年　：2010年</li>
<li>制作期間：2ヶ月</li>
<li>メンバー：2人</li>
<li>主担当　：設計・Flash制作・コーディング</li>
</ul>
<p class="mod-p">トップページ及び配下ページのメニュー部分を、FlashDevelopでActionScriptを使用し制作しました。</p>
<p class="mod-p">カメラ好きのレストランオーナーが、自分の撮った写真をたくさん載せたい、との意向を踏まえ、写真が目立つサイトにしました。また、当時最も効果的と教えてもらったSEO対策を施したことで、「waikiki」、「ワイキキ」で検索すると上位（ほぼ１位）で表示されるようになっていました。</p>
<p class="mod-p">現在もこのサイトは稼働中ですが、プレーヤーが入っていないとFlashが見れなくなっており、またデザインも今時ではないのでリニューアルを進めているところです・・・が、予算的に厳しいみたいです。</p>
</div><!-- /.l-column-inner -->
</div><!-- /.l-column -->
</section><!-- /.l-section-inner -->

<section id="lineup-4" class="l-section-inner">
<h3 class="mod-heading3">東京2020関連</h3>
<p class="mod-p">2018年より、一部東京2020関連のWebサイト制作に携わりました。</p>
<ul class="mod-ul">
<li>制作年　：2018年</li>
<li>制作期間：2ヶ月</li>
<li>メンバー：5人</li>
<li>主担当　：コーディング</li>
</ul>
<p class="mod-p">斬新なデザインに加え、アクセシビリティ（AAレベル）準拠という厄介な問題に対応するコーディングを行わないといけない、という厄介な案件でした。守らないといけない規則が多いため、破綻させぬようコード設計にに注力しました。</p>
<p class="mod-p">結果、本体のサイトにも一部参加できたので、いろんな意味で良い経験をさせていただきました。</p>
</section><!-- /.l-section-inner -->
</div><!-- /.l-section -->
</div><!-- /.l-main-inner -->

<div id="parts" class="l-main-inner">
<div class="l-section">
<h2 class="mod-heading2">News一覧サンプル</h2>
<?php
  set_query_var('newsnum', 4);
  get_template_part('product-parts/newslist');
?>
</div><!-- /.l-section -->
</div><!-- /.l-main-inner -->
{% endblock %}
