@charset "utf-8";

@import "_base/variables";
@import "_base/mixins";

/* -----------------------------------------------------
 * Home
 * -------------------------------------------------- */
.home-image {
	&-gulp {
		height: calcvw(300);
		@include media-pc {
			height: 150px;
		}
	}
	&-sass {
		@include media-sp {
			height: calcvw(300);
		}
	}
}
