<!-- [ SCRIPTS ] -->
<script src="<?php echo get_template_directory_uri(); ?>/assets/js/libs/libs.js?<?php echo filemtime( get_stylesheet_directory() . '/assets/js/libs/libs.js'); ?>"></script>
<script src="<?php echo get_template_directory_uri(); ?>/assets/js/app.bundle.js?<?php echo filemtime( get_stylesheet_directory() . '/assets/js/app.bundle.js'); ?>"></script>
<!-- /[ SCRIPTS ] -->
