<nav class="l-sidebar">
<ul>
<li><a href="DUMMY">ローカルナビ</a></li>
<li><a href="DUMMY">ローカルナビ</a></li>
<li><a href="DUMMY">ローカルナビ</a></li>
<li><a href="DUMMY">ローカルナビ</a></li>
<li><a href="DUMMY">ローカルナビ</a></li>
<li><a href="DUMMY">ローカルナビ</a></li>
</ul>
</nav><!-- /.l-sidebar -->
