@charset "utf-8";

@import "_base/variables";
@import "_base/mixins";

/* -----------------------------------------------------
 * Layout
 * -------------------------------------------------- */
.l-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-top: calcvw(80);
	@include media-pc {
		padding-top: 80px;
	}
	.is-menu-open & {
		position: fixed;
	}
}

.l-kv {
	height: 200px;
	@include media-pc {
		height: 350px;
	}
}

.l-breadcrumbs {
	padding: calcvw(20);
	@include media-pc {
		padding: 10px;
	}
	ol {
		@include remove-letterspace;
		@include media-pc {
			max-width: 1200px;
			margin: 0 auto;
		}
		li {
			display: inline-block;
			position: relative;
			margin: 0 0 0 1.5em;
			&:before {
				content: '>';
				position: absolute;
				top: 50%;
				left: -1em;
				transform: translateY(-50%);
			}
			&:first-child {
				margin: 0;
				&:before {
					display: none;
				}
			}
		}
	}
}

.l-contents {
	background-color: #fff;
	min-width:320px;
	flex-grow: 1;
}

.l-main {
	&-inner {
		padding: 0 calcvw(10);
		@include media-pc {
			padding: 0 10px;
		}
		&.bg-01 {
			background-color: #e4e4e4;
		}
		&.bg-02 {
			background-color: #333;
			color: #fff;
		}
	}
}

.l-section {
	position: relative;
	padding: calcvw(60) 0;
	@include media-pc {
		max-width: 1180px;
		margin: 0 auto;
		padding: 40px 0;
	}
	&-inner { // .l-section-inner
		margin: calcvw(40) 0 0;
		@include media-pc {
			margin: 40px 0 0;
		}
		> *:first-child {
			margin-top: 0;
		}
	}
}

.l-column {
	@include media-pc {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 0 -40px;
	}
	&-inner { // .l-column-inner
		margin: calcvw(40) 0 0;
		@include media-pc {
			margin: 40px 0 0 40px;
		}
		> *:first-child {
			margin-top: 0;
		}
		&.wide-1 {
			@include media-pc {
				width: calc(25% - 40px);
			}
		}
		&.wide-3 {
			@include media-pc {
				width: calc(75% - 40px);
			}
		}
	}
	&.col-2 {
		@include media-pc {
			.l-column-inner {
				width: calc(50% - 40px);
			}
		}
	}
	&.col-3 {
		@include media-pc {
			.l-column-inner {
				width: calc(33.33333% - 40px);
			}
		}
	}
	&.alternate {
		@include media-pc {
			.l-column-inner {
				&:first-child {
					order: 2;
				}
				&:last-child {
					order: 1;
				}
			}
		}
	}
}
